{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{title}}</title>
    {%include 'style.html'%}
    <style>
        body {
            overflow-x: hidden;
        }
    </style>
</head>

<body>

    {%include 'navbar.html'%}
    <!-- navbar loaded -->
    {% block main_content %}
    <!-- main contents start here -->
    <!-- main contents ends here -->
    {% endblock main_content %}


    <!-- footer loaded -->
    {% include 'footer.html' %}



    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


    {% include 'script.html' %}

    <!-- script block -->
    {% block scripts %}
    <!-- we will write script in this block -->
    {% endblock scripts %}
</body>

</html>